<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.3.xsd
		http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.3.xsd">

	<context:component-scan base-package="com.spring.sample"></context:component-scan>
	
	<bean id="before" class="com.spring.sample.common.BeforeAdvice"></bean>
	
	
	<!-- AOP study -->
	<aop:config>
		
		<aop:pointcut expression="execution(* com.spring.sample..*Impl.*(..))" id="allPointcut"/>
		<aop:pointcut expression="execution(* com.spring.sample..*Impl.get*(..))" id="getPointcut"/>
	
	
		<aop:aspect ref="before">
			<aop:before pointcut-ref="allPointcut" method="beforeLog"/>
		</aop:aspect>
				
	</aop:config>
	
	
	<bean id="afterReturning" class="com.spring.sample.common.AfterReturningAdvice"></bean>
	
	<aop:config>
		
		<aop:pointcut expression="execution(* com.spring.sample..*Impl.get*(..))" id="getPointcut"/>
		
		<aop:aspect ref="afterReturning">
			<aop:after-returning pointcut-ref="getPointcut" method="afterLog" returning="returnObj"/>
		</aop:aspect>
			
	</aop:config>
	
	
	<bean id="afterThrowing" class="com.spring.sample.common.AfterThrowingAdvice"></bean>
	
	<aop:config>
		
		<aop:pointcut expression="execution(* com.spring.sample..*Impl.*(..))" id="allPointcut"/>
		
		<aop:aspect ref="afterThrowing">
			<aop:after-throwing pointcut-ref="allPointcut" method="exceptionLog" throwing="exceptObj"/>
		</aop:aspect>
			
	</aop:config>
	
	
	<bean id="after" class="com.spring.sample.common.AfterAdvice"></bean>
	
	<aop:config>
		
		<aop:pointcut expression="execution(* com.spring.sample..*Impl.*(..))" id="allPointcut"/>
		
		<aop:aspect ref="after">
			<aop:after-throwing pointcut-ref="allPointcut" method="finallyLog"/>
		</aop:aspect>
			
	</aop:config>
	
	
	<bean id="around" class="com.spring.sample.common.AroundAdvice"></bean>
	
	<aop:config>
		
		<aop:pointcut expression="execution(* com.spring.sample..*Impl.*(..))" id="allPointcut"/>
		
		<aop:aspect ref="around">
			<aop:around pointcut-ref="allPointcut" method="aroundLog"/>
		</aop:aspect>
			
	</aop:config>
	
	
</beans>
